$primary: (
  color: #0d6efd,
  dark: darken(#0d6efd, 10%),
  light: lighten(#0d6efd, 10%),
);

$secondary: (
  color: #6c757d,
  dark: darken(#6c757d, 10%),
  light: lighten(#6c757d, 10%),
);

$warning: (
  color: #f57c00,
  dark: darken(#f57c00, 10%),
  light: lighten(#f57c00, 10%),
);

.btn:focus,
.btn:hover {
  background-image: none;
}

$font-size-root: 18px;

$btn-font-weight: 600;

@import "../node_modules/daemonite-material/assets/scss/material.scss";
