:root {
  --primary: #0d6efd;
  --primary-dark: #083d8d;
  --primary-light: #0d6efd;
  --secondary: #6c757d;
  --secondary-dark: #6c757d;
  --secondary-light: #6c757d;
}

body,
td {
  font-family: Lato, sans-serif;
  font-size: 16px;
}

.text-underline {
  text-decoration: underline;
}

.navbar-brand {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}

.nav-link.active {
  display: none;
}

.navbar-toggler::before {
  background-color: unset;
}

.material-icons {
  opacity: 0;
}

.invalid-feedback {
  font-size: 0.85rem;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}

.modal-title {
  font-size: 1.5rem;
}

.floating-label.is-focused label,
.floating-label.has-value label {
  color: var(--primary);
  filter: brightness(75%);
  font-family: Lato, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: -0.25rem;
  text-transform: uppercase;
}

.textfield-box.floating-label.is-focused label,
.textfield-box.floating-label.has-value label {
  margin: 0;
}

.floating-label.is-focused label:after,
.floating-label.has-value label:after {
  content: ":";
  font-family: Lato, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--primary);
}

.form-control:focus,
.custom-select:focus,
.form-control-file:focus {
  border-color: var(--secondary) !important;
  box-shadow: inset 0 -2px 0 -1px var(--secondary) !important;
}

.btn-primary,
.btn-primary.active {
  background-color: var(--primary) !important;
}

.btn-secondary,
.btn-secondary.active {
  background-color: var(--secondary) !important;
}

.btn-success,
.btn-success.active {
  background-color: var(--success) !important;
}

.btn-info,
.btn-info.active {
  background-color: var(--info) !important;
}

.btn-warning,
.btn-warning.active {
  background-color: var(--warning) !important;
}

.btn-danger,
.btn-danger.active {
  background-color: var(--danger) !important;
}

.btn-light,
.btn-light.active {
  background-color: var(--light) !important;
}

.btn-dark,
.btn-dark.active {
  background-color: var(--dark) !important;
}

.btn.font-weight-bold {
  font-weight: 600;
}

.alert .alert-link {
  text-decoration: underline;
}

.snackbar.bg-danger a,
.snackbar.bg-dark a,
.snackbar.bg-info a,
.snackbar.bg-success a,
.snackbar.bg-warning a {
  color: text-white;
  text-decoration: underline;
}
