ul.keyFeatures {
  margin-top: 1.2rem;
}

li.keyFeature {
  margin-bottom: 1.7rem;
}

li.keyFeature:last-child {
  margin-bottom: 0;
}

[data-i18n="headlineOrLearnMore"] {
  color: var(--secondary);
  font-size: 1rem;
  font-style: italic;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p[data-i18n="p3"] em:nth-child(2) {
  color: red;
  font-style: normal;
  font-weight: bold;
}

p[data-i18n="p3"] em:nth-child(3) {
  color: blue;
  font-style: normal;
  font-weight: bold;
}

[data-i18n="p4"] strong:nth-child(1) {
  color: var(--danger);
  font-size: 1.1rem;
  margin-right: 0.6rem;
}

.learnMoreLink {
  display: block;
  margin-top: 0.5rem;
  text-align: left;
}

.learnMoreLink img {
  vertical-align: middle;
}

body,
td {
  font-size: 1rem;
}
