label {
  font-size: 16px;
}

#photoUpload,
#photoCapture {
  display: none;
}

/* label[for="photoUpload"],
label[for="photoCapture"] {
  background-color: #006699;
  border: 3px outset #1177aa;
  color: white;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  padding: 8px 15px;
} */

.installIcon {
  border-radius: 6px;
}

#whereToFindAuthCode details summary {
  color: var(--dark);
  text-align: center;
}

#whereToFindAuthCode details[open] summary {
  color: var(--dark-dark);
  font-weight: bold;
}

#whereToFindAuthCode details[open] div {
  margin-top: 0.25rem;
  text-align: left;
}

/* Browser mode on mobile */
@media screen and (max-width: 767px) and (orientation: portrait) and (display-mode: browser) {
  #contentdefault {
    display: none !important;
  }

  #contentinstall:not(.d-none) {
    display: block !important;
  }

  #afterInstall:not(.d-none) {
    display: block !important;
  }
}
@media screen and (max-width: 991px) and (orientation: landscape) and (display-mode: browser) {
  #contentdefault {
    display: none !important;
  }

  #contentinstall:not(.d-none) {
    display: block !important;
  }

  #afterInstall:not(.d-none) {
    display: block !important;
  }
}

/* Browser mode on non-mobile */
@media screen and (min-width: 768px) and (orientation: portrait) and (display-mode: browser) {
  #contentdefault:not(.d-none) {
    display: block !important;
  }

  #contentinstall {
    display: none !important;
  }

  #afterInstall {
    display: none !important;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) and (display-mode: browser) {
  #contentdefault:not(.d-none) {
    display: block !important;
  }

  #contentinstall {
    display: none !important;
  }

  #afterInstall {
    display: none !important;
  }
}

/* Standalone mode */
@media screen and (display-mode: standalone) {
  #contentdefault:not(.d-none) {
    display: block !important;
  }

  #contentinstall {
    display: none !important;
  }

  #afterInstall {
    display: none !important;
  }
}
