.list-group .list-group-item {
  padding: 2.5rem 1.5rem 2.5rem 1.75rem;
}

#latestRegistrants img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

#latestRegistrants .registrant {
  border-bottom: 1px solid var(--light-dark);
  padding: 1.5rem 0;
  text-decoration: none;
}

#latestRegistrants .registrant:first-child {
  padding-top: 0.5rem;
}

#latestRegistrants .media-body {
  color: var(--dark) !important;
}
