.iti {
  width: 100%;
}

.iti__flag {
  background-image: url("js/intl-tel-input-17.0.0/img/flags.png");
}

.iti__flag-container {
  left: 8px !important;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("js/intl-tel-input-17.0.0/img/flags@2x.png");
  }
}

#sendto_sms {
  padding-top: 22px;
  padding-bottom: 2px;
  padding-left: 65px;
}

label[for="sendto_sms"] {
  margin-left: 53px;
}
