fieldset {
  border: revert;
  padding: revert;
}

legend {
  font-family: Oswald, sans-serif;
  font-size: 1.3rem;
  padding: 0 10px;
  width: revert;
}

.iti {
  display: block;
}

label[for="contactPhone"] {
  margin-left: 55px;
}

label[for="connectionDetails"] {
  font-size: 16px;
}

.is-focused > label[for="contactPhone"],
.has-value > label[for="contactPhone"] {
  margin-left: 0;
}

#preview .material-icons {
  opacity: 1;
}

#eventDescription {
  word-break: break-word;
}

.connectionContent {
  word-break: break-word;
  font-size: small;
  font-family: Consolas, monospace;
  max-height: 20em;
  overflow-y: scroll;
}

.textfield-box label {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

#addToCalendar {
  scroll-margin: 30px 0 0 0;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 100%;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#bbb, #999 );
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  margin-top: -14px;
  border-radius: 50%;
  background: #545b62;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  margin-top: -14px;
  border-radius: 50%;
  background: #545b62;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  margin-top: -14px;
  border-radius: 50%;
  background: #545b62;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

/* Input Track */

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

#modalFormErrors .modal-body .alert-link {
  color: var(--primary);
  font-weight: 600;
  text-decoration: underline;
}