fieldset {
  border: revert;
  padding: revert;
}

legend {
  font-family: Oswald, sans-serif;
  font-size: 1.3rem;
  padding: 0 10px;
  width: revert;
}

.iti {
  display: block;
}

label[for="contactPhone"] {
  margin-left: 55px;
}

.is-focused > label[for="contactPhone"],
.has-value > label[for="contactPhone"] {
  margin-left: 0;
}
