fieldset {
  border: revert;
  padding: revert;
}

legend {
  font-family: Oswald, sans-serif;
  font-size: 1.3rem;
  padding: 0 10px;
  width: revert;
}

.iti {
  display: block;
}

label[for="contactPhone"] {
  margin-left: 55px;
}

label[for="attendVirtuallyConnectionDetails"] {
  font-size: 16px;
}

.is-focused > label[for="contactPhone"],
.has-value > label[for="contactPhone"] {
  margin-left: 0;
}

#preview .material-icons {
  opacity: 1;
}

#eventDescription {
  word-break: break-word;
}

.connectionContent {
  word-break: break-word;
  font-size: small;
  font-family: Consolas, monospace;
  max-height: 20em;
  overflow-y: scroll;
}

.textfield-box label {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

#addToCalendar {
  scroll-margin: 30px 0 0 0;
}