#churchName {
  font-size: 1.1rem;
  font-weight: 300;
}

th {
  vertical-align: bottom !important;
}

td {
  vertical-align: middle !important;
}

.profileImage img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

@media (max-width: 576px) {
  tbody a {
    white-space: nowrap;
  }
}
