#profilePhoto {
  background-color: #193e87;
  border: 2px solid #345593;
  border-radius: 50%;
  display: inline-block;
  height: auto;
  width: 200px;
}

#profilePhoto img {
  border-radius: 50%;
  height: auto;
  width: 100%;
}

#profilePhoto,
#cameraIcon {
  cursor: pointer;
  margin-top: -24px;
}
