#profilePhoto {
  border: 4px dashed #345593;
  border-radius: 50%;
  display: inline-block;
  height: auto;
  width: 67%;
  max-height: 200px;
  max-width: 200px;
}

#profilePhoto img {
  border-radius: 50%;
  height: auto;
  width: 100%;
}

#profilePhoto,
#cameraIcon {
  cursor: pointer;
  margin-top: -16px;
}
