label {
  color: var(--dark);
  font-size: 0.9rem;
}

#publicProfileLinkText {
  color: var(--primary-dark);
  font-family: consolas, monospace;
}

[data-i18n="notificationClarification"] a {
  color: var(--primary);
}

#placeholderTable th {
  font-size: 0.9rem !important;
  font-weight: bold;
  vertical-align: middle;
}

#placeholderTable tr > th,
#placeholderTable tr > td {
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.customTextPlaceholder {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: bold;
}

.text-primary-dark {
  color: var(--primary-dark);
}

#notificationClarification a {
  white-space: nowrap !important;
}
