@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap");

body {
  background-color: #2a2d54;
  font-family: "Nunito Sans", sans-serif;
}

html {
  font-size: 20px;
}

a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.contactMethod:hover {
  text-decoration: none;
}

.contactMethod:hover img {
  border-radius: 50%;
  border: 2px solid #504390;
}

.balanced {
  text-wrap: balance;
}

.purple-gradient {
  background-image: linear-gradient(to right, #2a2d54 0%, #504390 100%);
}

#invite-container {
  margin: auto;
}

#youAreInvitedTo {
  font-size: 0.9rem;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.2rem;
  margin-top: 1.2rem !important;
  margin-bottom: 0.6rem !important;
}

#eventTitle {
  color: #504390;
  font-family: Castoro, serif;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 2.6rem;
}

@media only screen and (max-width: 600px) {
  #eventTitle {
    font-size: 1.9rem !important;
    line-height: 2.5rem;
  }

  #repeatingWeekday,
  #singleDayWeekday {
    font-size: 0.8rem !important;
  }

  .contactMethod img {
    height: 65px;
    width: 65px;
  }
}

#repeatingWeekday {
  color: #333333;
  font-family: Castoro, sans-serif;
  font-size: 1.2rem !important;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.15rem;
}

#singleDayWeekday {
  color: #333333;
  font-family: Castoro, sans-serif;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 0.15rem;
}

#singleDayDate {
  color: #333333;
  font-family: Castoro, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  word-spacing: 5px;
}

#repeatingStartTime,
#singleDayStartTime {
  color: #333333;
  font-family: Castoro, sans-serif;
  font-size: 1rem !important;
  font-weight: 400;
  letter-spacing: 0.15rem;
  line-height: 1.4rem;
}

#repeatingStartTime {
  font-size: 1.2rem !important;
  line-height: 1.6rem;
}

#repeatingStartTime {
  margin-top: 0.15rem !important;
}

#multiDayFromLabel,
#multiDayToLabel {
  color: #333333;
  font-family: Castoro, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2px;
}

#multiDayFromText,
#multiDayToText {
  color: #333333;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.3rem;
  word-spacing: 0.2rem;
}

#mapAndDirections {
  font-size: 1rem;
}

#mapAndDirections:link,
#mapAndDirections:active,
#mapAndDirections:visited {
  text-decoration: underline;
}

#headline-about-event,
[data-i18n="headline-cant-attend"] {
  color: #2a2d54;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.34px;
  line-height: 2rem !important;
  text-align: center;
}

#timeAndDateRepeating,
#timeAndDateSingleDay {
  color: #504390;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

#inviteLocationName {
  color: #504390;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

#eventAddress {
  color: #504390;
  font-weight: 600;
  line-height: 1.35rem;
}

#addToCalendar {
  border-radius: inherit inherit 8px 8px;
  scroll-padding: 40px 0 0 0 !important;
}

#addToCalendarButton {
  background: linear-gradient(93.58deg, #504390 0%, #3f3973 100%);
  border-radius: 10px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  z-index: 1;
}

#addToCalendarButton[aria-expanded="true"] {
  border-radius: 10px 10px 0 0;
}

#atcbOptions > .list-group {
  background-color: white;
  border-color: #504390 !important;
}

.connectionContent {
  color: black;
  font-family: Consolas, monospace;
  font-size: small;
  max-height: 20em;
  overflow-y: scroll;
  word-break: break-word;
}

[data-i18n="headline-about-event"],
[data-i18n="headline-cant-attend"],
#headline-about-event,
#rsvpHeadline,
#questions_headline {
  color: #2a2d54;
  font-family: Castoro, serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
}

[data-i18n="headline-how-to-connect"] {
  color: #2a2d54;
  font-family: Castoro, serif;
  font-size: 1.1rem;
  font-weight: 400;
}

#eventContactName {
  color: #504390;
  font-size: 1.2rem;
  font-weight: 600;
}

.contactMethod-label {
  color: #504390;
  font-size: 0.9rem;
  letter-spacing: 0.32px;
  line-height: 20px;
}

#actbOptions a:first-child {
  margin-top: -25px;
  padding-top: 40px;
}

.bold.text-success {
  font-weight: 400;
}

#rsvpHeadline {
  line-height: 1rem;
}

#envelopeContainer {
  position: relative;
  max-width: 530px;
  margin: auto;
}

#video {
  width: 100%;
}

#paper {
  animation: fadeIn 0.5s;
  left: 4%;
  margin-bottom: 50px;
  min-height: calc(100% - 38%);
  position: absolute;
  top: calc(100% - 63% + -3px) !important;
  transition: height 0.5s ease;
  width: calc(100% - 8%);
}

#pageContent {
  background-color: #f7f5f6;
}

#topOfEnvelope {
  height: 1px;
  left: 4%;
  position: absolute;
  top: calc(100% - 83%);
  width: calc(100% - 8%);
  scroll-behavior: smooth !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#navButtons {
  background-color: black;
  display: none;
}

#navButtons table {
  margin: auto;
  margin-bottom: 10px;
}

#navButtons td {
  padding-bottom: 16px;
  padding-top: 0;
  vertical-align: bottom;
}

#navButtons td:nth-child(1) {
  padding-left: 20px;
  text-align: left;
  width: 33%;
}

#navButtons td:nth-child(2) {
  text-align: center;
  width: 34%;
}

#navButtons td:nth-child(3) {
  padding-right: 20px;
  text-align: right;
  width: 33%;
}

#navButtons td div {
  margin-top: 8px;
  min-height: 11.2px;
}

#navButtons img {
  border: 0;
  height: 22px;
  max-height: 22px;
  max-width: 22px;
  width: 22px;
}

#navButtons a {
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-size: 11.2px;
  font-weight: 400;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
}

#navButtons a[disabled],
#navButtons a[disabled] img {
  opacity: 0.3; /* 30% opacity */
}

@media all and (display-mode: standalone) {
  #navButtons.showToLoggedInUser {
    display: block !important;
    padding-bottom: 50px;
  }
}
