<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      content="initial-scale=1, shrink-to-fit=no, width=device-width"
      name="viewport"
    />
    <title data-i18n="pagetitle">Invitation to Bible Talk</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../../css/material-4.1.1-dist/css/material.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="../../css/global.css" rel="stylesheet" />
    <link href="index.css" rel="stylesheet" />
  </head>
  <body class="theme d-none" data-theme="blue">
    <div class="container">
      <div class="row my-3">
        <div class="col col-sm-10 offset-sm-1 col-md-6 offset-md-3">
          <div class="bg-white px-4 pb-1" id="content">
            <h3 class="text-center lead mt-4 mb-1" data-i18n="youAreInvitedTo">
              You are invited to join us for
            </h3>
            <h1
              class="text-center text-uppercase mt-0 mb-4"
              data-i18n="pagetitle"
            >
              Bible Talk
            </h1>

            <p class="text-center mt-4 mb-1">
              <strong>Fridays @ 7:30 PM</strong><br />
              Starbucks<br />
              555 Main Street<br />
              Phoenix, AZ 99999<br />
            </p>

            <p class="text-center mt-4">
              <span class="material-icons material-icons-outlined text-dark">
                place
              </span>
              <a
                href="https://www.google.com/maps/dir/?api=1&destination=555%20Main%20Street,%20Phoenix,%20AZ,%2099999&sensor=true"
                style="text-decoration: underline"
              >
                Map and Directions
              </a>
            </p>

            <div class="text-center my-5">
              <button class="btn btn-info">
                <span class="material-icons material-icons-outlined mr-2">
                  insert_invitation
                </span>
                Add to my calendar
              </button>
            </div>

            <div class="mb-2">
              <p>
                Hi Joe, I'm <a href="#">John</a>. I invited you last Thursday to
                Bible Talk. I'm looking forward to joining you there this Friday
                at 7:30 PM.
              </p>
              <p>
                If you can join, I recommend adding it to your calendar (above)
                to help you remember.
              </p>
              <p>
                Here's a video about
                <a href="#">why I enjoy Bible Talk</a>.
              </p>
              <p>I hope to see you there! Nice meeting you.</p>
            </div>

            <hr class="mt-5 mb-2" />

            <div class="text-center my-4">
              <h3 data-toggle="collapse">About Bible Talk</h3>
            </div>

            <div class="my-4">
              A Bible Talk is a casual, light-hearted discussion group that is open to anyone, regardless of their beliefs or prior experience with the Bible. We usually meet in a home or restaurant, but sometimes we meet in an open setting like a park.
              <br />
              <br />The discussion leader will focus on a Biblical topic and pertinent scriptures, and will engage the attendees with thought-provoking questions designed to get everyone thinking about those scriptures on a deeper level. The goal is to try to understand the scripture better through practical application, and to inspire attendees to pursue further Bible study. 
              <hr />
              <h3>Questions?</h3>
              <div class="row">
                <div class="col">
                  If you have any questions or feedback, please reach out below:
                </div>
              </div>
              <div class="row my-3">
                <div class="col col-sm-6 offset-sm-3 text-center">
                  <h4 class="m-0">Laurence Jesterson</h4>
                </div>
              </div>
              <div class="row">
                <div class="col col-sm-6 offset-sm-3 text-center">
                  <div class="card">
                    <div class="card-body p-0">
                      <div class="list-group list-group-flush">
                        <a href="tel:+12133251382" class="list-group-item list-group-item-action">
                          Phone call
                        </a>
                        <a href="sms:+12133251382" class="list-group-item list-group-item-action">
                          Text message
                        </a>
                        <a href="mailto:Laurence Jesterson &lt;vrtjason@gmail.com&gt;" class="list-group-item list-group-item-action">
                          E-mail
                        </a>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="../../css/material-4.1.1-dist/js/material.min.js"></script>
    <script src="../../js/global.js"></script>
    <script src="index.js"></script>
  </body>
</html>
