<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      content="initial-scale=1, shrink-to-fit=no, width=device-width"
      name="viewport"
    />
    <title>Invitation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="../../css/daemonite-material.css" />
    <link href="../../css/global.css" rel="stylesheet" />
    <link href="index.css" rel="stylesheet" />
    <!--
      
      PLACEHOLDERS:
      Note: Elements with an "id" attribute will NOT be populated by i18n, and therefore don't need a "data-i18n" attribute. The exception is when the i18n file contains placeholders, e.g. "Hi {RECIPIENT-NAME}."

      {EVENT-START-DATE}  - the date that the event starts
      {EVENT-START-TIME}  - the time that the event starts
      {EVENT-END-DATE}    - the date that the event ends (if it spans multiple days)
      {EVENT-END-TIME}    - the time that the event ends
      {EVENT-TITLE}       - the title of the event (e.g. "The Northern Lights Bible Talk")
      {INVITED-DATE}      - the date when the recipient was invited
      {RECIPIENT-NAME}    - the name of the recipient (likely first name, unless sender inputs full name of recipient)
      {SENDER-FIRST-NAME} - the first name of the sender

    -->
  </head>
  <body class="theme d-none" data-theme="blue">
    <div id="invite-container" class="container px-3">
      <div class="row">
        <div class="col">
          <div class="bg-white" id="content">
            <div
              class="text-center mt-2 mb-1"
              data-i18n="you-are-invited-to"
              id="youAreInvitedTo"
            >
              You are invited to join us for
            </div>
            <h1 class="balanced text-center" id="eventTitle">Bible Talk</h1>

            <!-- REPEATING DAYS -->
            <!-- Every Friday @ 7:30 PM -->
            <div id="timeAndDateRepeating" class="text-center mt-3 mb-4">
              <div id="repeatingWeekday" class="text-uppercase">Fridays</div>
              <div id="repeatingStartTime" class="mt-1">7:30 PM</div>
            </div>

            <!-- SINGLE DAY -->
            <!-- Friday 3/22/22 @ 7:30 PM -->
            <div id="timeAndDateSingleDay" class="text-center mt-3 mb-4 d-none">
              <div id="singleDayWeekday" class="text-uppercase mb-2">
                Friday
              </div>
              <div id="singleDayDate" class="my-2">03 | 22 | 2023</div>
              <div id="singleDayStartTime">7:30 PM</div>
            </div>

            <!-- MULTIPLE DAYS -->
            <!-- From Friday 3/22/22 @ 7:30 PM -->
            <!-- To Sunday 3/25/22 @ 4:30 PM -->
            <div
              id="timeAndDateMultipleDays"
              class="text-center mt-3 mb-4 d-none"
            >
              <table cellpadding="3" cellspacing="0" class="d-inline-block">
                <tr>
                  <td style="text-align: end">
                    <div
                      class="mr-1 text-center small text-uppercase mb-1"
                      data-i18n="multiDayFromLabel"
                      id="multiDayFromLabel"
                    >
                      From
                    </div>
                    <div class="text-nowrap" id="multiDayFromText">
                      <span id="multiDayStartingWeekday"> Fri. </span>
                      <span id="multiDayStartingDate"> 3/22/22 </span>
                      <span data-i18n="event-at">@</span>
                      <span id="multiDayStartingTime"> 7:30 PM </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: end">
                    <div
                      class="mr-1 text-center small text-uppercase mt-3 mb-1"
                      data-i18n="multiDayToLabel"
                      id="multiDayToLabel"
                    >
                      To
                    </div>
                    <div class="text-nowrap" id="multiDayToText">
                      <strong id="multiDayEndingWeekday">Sun.</strong>
                      <strong id="multiDayEndingDate">3/25/22</strong>
                      <strong data-i18n="event-at">@</strong>
                      <strong id="multiDayEndingTime">4:30 PM</strong>
                    </div>
                  </td>
                </tr>
              </table>
            </div>

            <div id="inviteLocationInfo" class="font-weight-bold">
              <div id="inviteLocationName" class="text-center">Starbucks</div>

              <div class="text-center" id="eventAddress">
                <div id="address_line_1">3549 W Bell Road</div>
                <div id="address_line_2">Phoenix, AZ 85053</div>
                <div id="address_line_3"></div>
              </div>

              <div
                id="previewOtherLocationDetails"
                class="d-none text-center my-4 not-bold"
              ></div>

              <p class="text-center mt-4 mb-0">
                <img
                  src="/_assets/svg/icons/place.svg"
                  width="24"
                  height="29"
                  alt=""
                />

                <a
                  href="https://www.google.com/maps/dir/?api=1&destination=3549%20W%20Bell%20Road,%20Phoenix,%20AZ,%2085053&sensor=true"
                  data-i18n="map-and-directions"
                  id="mapAndDirections"
                >
                  Map and Directions
                </a>
              </p>
            </div>
            <div
              id="requestLocationInfo"
              class="d-none text-center mt-1 font-italic"
              data-i18n="requestLocationInfo"
            ></div>

            <!-- Add to calendar -->
            <section>
              <div class="my-5 text-center">
                <div
                  style="max-width: 320px"
                  class="d-inline-block"
                  id="addToCalendar"
                >
                  <button
                    id="addToCalendarButton"
                    class="p-3 btn btn-info font-weight-bold"
                    type="button"
                    data-toggle="collapse"
                    data-target="#atcbOptions"
                    aria-expanded="false"
                    aria-controls="atcbOptions"
                  >
                    <img
                      src="/_assets/svg/icons/calendar.svg"
                      width="18"
                      height="20"
                      alt="Invitation icon"
                    />
                    <span
                      class="ml-2"
                      data-i18n="add-to-my-calendar"
                      style="text-transform: initial; white-space: initial"
                    >
                      Add to my calendar
                    </span>
                  </button>
                  <div class="collapse" id="atcbOptions">
                    <div
                      class="list-group border border-info text-left list-atcb"
                    >
                      <a
                        href="#"
                        class="list-group-item list-group-item-action"
                        data-destination="apple"
                      >
                        <span class="atcb_icon atcb_icon-apple">
                          <img
                            src="/_assets/svg/icons/addToCalendar-Apple.svg"
                            width="24"
                            height="24"
                            alt=""
                          />
                        </span>
                        <span
                          class="ml-1"
                          data-i18n-global="addToCalendarApple"
                        >
                          Apple
                        </span>
                      </a>
                      <a
                        href="#"
                        class="list-group-item list-group-item-action"
                        data-destination="google"
                      >
                        <span class="atcb_icon atcb_icon-google">
                          <img
                            src="/_assets/svg/icons/addToCalendar-Google.svg"
                            width="24"
                            height="24"
                            alt=""
                          />
                        </span>
                        <span
                          class="ml-1"
                          data-i18n-global="addToCalendarGoogle"
                        >
                          Google
                        </span>
                      </a>
                      <a
                        href="#"
                        class="list-group-item list-group-item-action"
                        data-destination="ical"
                      >
                        <span class="atcb_icon atcb_icon-ical">
                          <img
                            src="/_assets/svg/icons/addToCalendar-iCalFile.svg"
                            width="24"
                            height="24"
                            alt=""
                          />
                        </span>
                        <span
                          class="ml-1"
                          data-i18n-global="addToCalendarIcalFile"
                        >
                          iCal file
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="mb-4 pb-1">
              <div id="defaultGreeting">
                <p
                  id="defaultGreetingParagraph1"
                  data-i18n="default-greeting-paragraph-1-bible-talk"
                >
                  Hi {RECIPIENT-NAME}, it's {SENDER-FIRST-NAME}. I invited you
                  {INVITED-DATE} to Bible Talk. I'm looking forward to joining
                  you there {EVENT-START-DATE} at {EVENT-START-TIME}.
                </p>
                <p data-i18n="default-greeting-paragraph-2">
                  If you can join, I recommend adding it to your calendar
                  (above) to help you remember.
                </p>
                <p data-i18n="default-greeting-paragraph-3">
                  I hope to see you there!
                </p>
              </div>
            </section>

            <hr class="my-4 pt-2" />

            <!-- About the event -->
            <section class="my-4 pb-1">
              <div class="mb-4">
                <h3
                  class="text-center m-0 balanced"
                  data-toggle="collapse"
                  data-i18n="headline-about-event"
                  id="headline-about-event"
                >
                  About {EVENT-TITLE}
                </h3>
              </div>

              <div id="eventDescription" class="mb-2 pb-1">
                A Bible Talk is a casual, light-hearted discussion group that is
                open to anyone, regardless of their beliefs or prior experience
                with the Bible. We usually meet in a home or restaurant, but
                sometimes we meet in an open setting like a park.
                <br />
                <br />The discussion leader will focus on a Biblical topic and
                pertinent scriptures, and will engage the attendees with
                thought-provoking questions designed to get everyone thinking
                about those scriptures on a deeper level. The goal is to try to
                understand the scripture better through practical application,
                and to inspire attendees to pursue further Bible study.
              </div>
            </section>

            <!-- Connecting Virtually -->
            <section id="connectingVirtually" class="mb-3 pb-3 d-none">
              <hr class="my-4 pb-2" />
              <div class="my-4">
                <h3 data-i18n="headline-cant-attend">
                  Can't Attend in Person?
                </h3>
              </div>
              <p class="balanced" data-i18n="text-cant-attend">
                If you can't attend in person (e.g. for health or safety
                reasons), you can attend virtually.
              </p>
              <h4 class="text-center mb-3" data-i18n="headline-how-to-connect">
                Here's how to connect:
              </h4>
              <div
                class="bg-light border border-dark px-3"
                id="connectionInfo"
                style="border-radius: 8px"
              >
                <div
                  id="connectionContent"
                  class="connectionContent py-3"
                ></div>
              </div>
            </section>

            <hr class="my-4 pb-2" />

            <!-- Questions? -->
            <section>
              <div class="my-4">
                <h3
                  id="questions_headline"
                  data-i18n="headline-questions"
                  class="text-center"
                >
                  Questions?
                </h3>
              </div>
              <div class="row">
                <div class="col">
                  <div
                    class="text-center balanced"
                    id="questions_text"
                    data-i18n="questions"
                  >
                    If you have any questions or feedback, please reach out
                    below:
                  </div>
                </div>
              </div>
              <div class="row my-4">
                <div class="col text-center">
                  <h4 id="eventContactName" class="m-0">John Q. Disciple</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-6 col-sm-4 text-center mb-4 contactMethod-col">
                  <a
                    href="sms:+12135551212"
                    id="contactViaSms"
                    class="contactMethod d-inline"
                  >
                    <img
                      src="/_assets/svg/icons/sms.svg"
                      width="75"
                      height="75"
                      alt=""
                    />
                    <div
                      class="mt-2 contactMethod-label"
                      data-i18n="text-message"
                    >
                      Text Message
                    </div>
                  </a>
                </div>
                <div class="col-6 col-sm-4 text-center mb-4 contactMethod-col">
                  <a
                    href="tel:+12135551212"
                    id="contactViaPhone"
                    class="contactMethod d-inline"
                  >
                    <img
                      src="/_assets/svg/icons/phone.svg"
                      width="75"
                      height="75"
                      alt=""
                    />
                    <div
                      class="mt-2 contactMethod-label"
                      data-i18n="phone-call"
                    >
                      Phone
                    </div>
                  </a>
                </div>
                <div class="col col-sm-4 text-center mb-5 contactMethod-col">
                  <a
                    href="mailto:johnqdisciple@email.com"
                    id="contactViaEmail"
                    class="contactMethod d-inline"
                  >
                    <img
                      src="/_assets/svg/icons/email.svg"
                      width="75"
                      height="75"
                      alt=""
                    />
                    <div class="mt-2 contactMethod-label" data-i18n="email">
                      E-mail
                    </div>
                  </a>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.10.0/localforage.min.js"
      integrity="sha512-+BMamP0e7wn39JGL8nKAZ3yAQT2dL5oaXWr4ZYlTGkKOaoXM/Yj7c4oy50Ngz5yoUutAG17flueD4F6QpTlPng=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/datebook" type="module"></script>
    <script src="../../css/material-4.1.1-dist/js/material.min.js"></script>
    <script src="../../js/linkifyjs/linkify.min.js"></script>
    <script src="../../js/linkifyjs/linkify-html.min.js"></script>
    <script src="../../js/global.js"></script>
    <script src="../../js/relativeTimeFormatPolyfill.js"></script>
    <script src="index.js"></script>
  </body>
</html>
