@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap");

body {
  background-color: #2a2d54;
  font-family: "Nunito Sans", sans-serif;
}

html {
  font-size: 20px;
}

a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.contactMethod:hover {
  text-decoration: none;
}

.contactMethod:hover img {
  border-radius: 50%;
  border: 2px solid #504390;
}

.balanced {
  text-wrap: balance;
}

.purple-gradient {
  background-image: linear-gradient(to right, #2a2d54 0%, #504390 100%);
}

#invite-container {
  margin: auto;
}

#inviteRoot {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #333333;
  font-family: "Nunito Sans";
  margin: auto;
  margin-top: 25px;
  max-width: 530px;
  padding-bottom: 25px;
  text-align: left;
}

#youAreInvitedTo {
  font-size: 0.9rem;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.2rem;
  margin-top: 1.2rem !important;
  margin-bottom: 0.6rem !important;
}

#eventTitle {
  color: #504390;
  font-family: Castoro, serif;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 2.6rem;
}

@media only screen and (max-width: 600px) {
  #eventTitle {
    font-size: 1.9rem !important;
    line-height: 2.5rem;
  }

  #repeatingWeekday,
  #singleDayWeekday {
    font-size: 0.8rem !important;
  }

  .contactMethod img {
    height: 65px;
    width: 65px;
  }
}

#repeatingWeekday {
  color: #333333;
  font-family: Castoro, sans-serif;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 0.15rem;
}

#singleDayWeekday {
  color: #333333;
  font-family: Castoro, sans-serif;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 0.15rem;
}

#singleDayDate {
  color: #333333;
  font-family: Castoro, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  word-spacing: 5px;
}

#repeatingStartTime,
#singleDayStartTime {
  color: #333333;
  font-family: Castoro, sans-serif;
  font-size: 1rem !important;
  font-weight: 400;
  letter-spacing: 0.15rem;
  line-height: 1.4rem;
}

#repeatingStartTime {
  margin-top: 0.15rem !important;
}

#multiDayFromLabel,
#multiDayToLabel {
  color: #333333;
  font-family: Castoro, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2px;
}

#multiDayFromText,
#multiDayToText {
  color: #333333;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.3rem;
  word-spacing: 0.2rem;
}

#mapAndDirections {
  font-size: 1rem;
}

#mapAndDirections:link,
#mapAndDirections:active,
#mapAndDirections:visited {
  text-decoration: underline;
}

#headline-about-event,
[data-i18n="headline-cant-attend"] {
  color: #2a2d54;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.34px;
  line-height: 2rem !important;
  text-align: center;
}

#timeAndDateRepeating,
#timeAndDateSingleDay {
  color: #504390;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

#inviteLocationName {
  color: #504390;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

#eventAddress {
  color: #504390;
  font-weight: 600;
  line-height: 1.35rem;
}

#addToCalendar {
  border-radius: inherit inherit 8px 8px;
  scroll-padding: 30px 0 0 0 !important;
}

#addToCalendarButton[aria-expanded="true"] {
  border-radius: 10px 10px 0 0;
}

#addToCalendarButton {
  background: linear-gradient(93.58deg, #504390 0%, #3f3973 100%);
  border-radius: 10px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  z-index: 1;
}

#calendarOptions {
  background-color: white;
  border-color: #504390;
  width: 100%;
}

.connectionContent {
  color: black;
  font-family: Consolas, monospace;
  font-size: small;
  max-height: 20em;
  overflow-y: scroll;
  word-break: break-word;
}

[data-i18n="headline-about-event"],
[data-i18n="headline-cant-attend"],
#questions_headline {
  color: #2a2d54;
  font-family: Castoro, serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
}

[data-i18n="headline-how-to-connect"] {
  font-size: 1.1rem;
}

#eventContactName {
  color: #504390;
  font-size: 1rem;
  font-weight: 600;
}

.contactMethod-label {
  color: #504390;
  font-size: 0.9rem;
  letter-spacing: 0.32px;
  line-height: 20px;
}

#actbOptions a:first-child {
  margin-top: -25px;
  padding-top: 40px;
}
