@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap");

body {
  background-color: #2a2d54;
  font-family: "Nunito Sans", sans-serif;
}

html {
  font-size: 18px;
}

a:link,
a:visited {
  color: #333333;
}

.balanced {
  text-wrap: balance;
}

.purple-gradient {
  background-image: linear-gradient(to right, #2a2d54 0%, #504390 100%);
}

#invite-container {
  margin: auto;
}

#inviteRoot {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #333333;
  font-family: "Nunito Sans";
  margin: auto;
  margin-top: 25px;
  max-width: 530px;
  padding-bottom: 25px;
  text-align: left;
}

#youAreInvitedTo {
  font-size: 0.8rem;
  font-family: "Nunito Sans", sans-serif;
}

#eventTitle {
  font-family: Castoro, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 58px;
}

@media only screen and (max-width: 400px) {
  #eventTitle {
    font-size: 2.2rem !important;
  }

  #repeatingWeekday,
  #singleDayWeekday {
    font-size: 0.8rem !important;
  }
}

#repeatingWeekday {
  color: #333333;
  font-family: Castoro, sans-serif;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 2px;
  word-spacing: 2px;
}

#singleDayWeekday {
  color: #333333;
  font-family: Castoro, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 0.15rem;
}

#singleDayDate {
  color: #333333;
  font-family: Castoro, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  word-spacing: 5px;
}

#repeatingStartTime,
#singleDayStartTime {
  color: #333333;
  font-family: Castoro, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4rem;
}

#multiDayFromLabel,
#multiDayToLabel {
  color: #333333;
  font-family: Castoro, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2px;
  word-spacing: 2px;
}

#mapAndDirections {
  font-size: 0.95rem;
  text-decoration: underline;
}

#headline-about-event,
[data-i18n="headline-cant-attend"] {
  color: #2a2d54;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.34px;
  line-height: 2rem !important;
  text-align: center;
}

#timeAndDateRepeating,
#timeAndDateSingleDay,
#timeAndDateMultipleDays,
#timeAndDateMultipleDays td {
  color: #504390;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
#multiDayFromText,
#multiDayToText {
  color: #333333;
}

#inviteLocationName {
  color: #504390;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

#eventAddress {
  color: #504390;
  font-weight: 600;
  line-height: 1.35rem;
}

#you-are-invited {
  color: #333333;
  font-family: "Proxima Nova Medium", sans-serif;
  font-size: 0.8rem;
  font-weight: 100;
  margin-top: 15px;
  text-align: center;
}

#eventTitle {
  color: #504390;
  font-family: Castoro, serif;
  font-size: 3rem;
  text-align: center;
}

#addToCalendar > button {
  background: linear-gradient(93.58deg, #504390 0%, #3f3973 100%);
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #ffffff;
  font-weight: 600;
  padding: 10px 22px;
}

#addToCalendar > [data-i18n="add-to-my-calendar"] {
  font-weight: 600;
  text-transform: initial;
}

.connectionContent {
  color: black;
  font-family: Consolas, monospace;
  font-size: small;
  max-height: 20em;
  overflow-y: scroll;
  word-break: break-word;
}

[data-i18n="headline-about-event"],
[data-i18n="headline-cant-attend"],
#questions_headline {
  color: #2a2d54;
  letter-spacing: 0.34px;
  font-family: Castoro, serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

#eventContactName {
  color: #504390;
  font-size: 1.1rem;
  font-weight: 600;
}

.contactMethod-label {
  color: #504390;
  font-size: 0.9rem;
  letter-spacing: 0.32px;
  line-height: 20px;
}
