#profilephoto {
  border: 2px solid white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.followers {
  margin: auto;
  width: unset;
}

.follower {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  padding-bottom: 20px;
  padding-top: 20px;
}

.follower:first-child {
  padding-top: unset;
}

.follower:last-child {
  border-bottom: 0;
  padding-bottom: unset;
}

.follower_photo img {
  background-repeat: no-repeat;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 110px;
  width: 110px;
}

.follower_text a {
  text-decoration: underline;
}

.followquantity {
  color: black;
  font-weight: bold;
  margin-inline-end: 2px;
}

.followCount {
  color: black;
  text-decoration: none;
}