ul.keyFeatures {
  margin-top: 1.2rem;
}

li.keyFeature {
  margin-bottom: 1.7rem;
}

li.keyFeature:last-child {
  margin-bottom: 0;
}

.learnMoreLink {
  display: block;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
}

.learnMoreLink img {
  vertical-align: middle;
}

body,
td {
  font-size: 1rem;
}

[data-i18n="keyFeatures"] em {
  font-style: normal;
  font-weight: 100;
}
