ul.keyFeatures {
  margin-top: 1.2rem;
}

li.keyFeature {
  margin-bottom: 1.7rem;
}

li.keyFeature:last-child {
  margin-bottom: 0;
}

.learnMoreLink {
  display: block;
  margin-top: 0.5rem;
  text-align: left;
}

.learnMoreLink img {
  vertical-align: middle;
}
