#searchTermContainer {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: inline-block;
}

#searchTerm {
  font-style: italic;
}

#churchName {
  font-style: italic;
}

.searchAgainLink {
  color: var(--dark-light);
}

#usersListItems a.list-group-item-action {
  text-decoration: none;
}

#usersListItems img {
  border-radius: 50%;
}
