#searchTermContainer {
  background-color: var(--light-light);
  display: inline-block;
}

#searchTerm {
  /* font-style: italic; */
}

#churchName {
  font-style: italic;
}

.searchAgainLink {
  color: var(--dark-light);
}

#quantityFound {
  color: var(--secondary-dark);
}

#usersListItems a.list-group-item-action {
  text-decoration: none;
}

#usersListItems img {
  border-radius: 50%;
  height: auto;
  width: 80px;
}
