#searchResults {
    border-top: 1px solid #ccc;
    margin-top: 75px;
    padding-top: 50px;
}

#searchResults img {
    background-repeat: no-repeat;
    border: 3px solid #ccc;
    border-radius: 50%;
    height: 140px;
    margin-bottom: 9px;
    padding: 2px;
    width: 140px;
}

#searchResults img[src*=".svg"] {
    border: 0;
}

#searchResults img.female {
    background-image: url("/_assets/img/avatar_female.svg");
}

#searchResults img.male {
    background-image: url("/_assets/img/avatar_male.svg");
}

#searchResults .result {
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
    padding-bottom: 60px;
}

#searchResults .result:last-child {
    border-bottom: 0;
}