@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap");

html {
  font-size: 20px;
}

body {
  background-color: #2a2d54;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  min-height: 92vh;
}

h1 {
  color: #504390;
  font-family: Castoro, serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.6rem;
}

a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.purple-gradient {
  background-image: linear-gradient(to right, #2a2d54 0%, #504390 100%);
}

form table {
  border: 1px solid #999;
}

form table td {
  border: 1px solid #ccc;
}

form table tr td:nth-child(1) {
  border-right: 0;
}

form table tr td:nth-child(2) {
  border-left: 0;
}

.optionsLabel {
  font-weight: 600;
}

#detectMyLocation {
  border: 1px solid #504390 !important;
  border-radius: 8px;
  color: #504390 !important;
  font-weight: 400;
}

.text-dark {
  color: var(--dark-dark) !important;
}

#altEventsSubmitButton {
  background: linear-gradient(93.58deg, #504390 0%, #3f3973 100%);
  border-radius: 10px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  z-index: 1;
}

#promptAdvisory {
  color: var(--danger-dark);
}

#originLocation {
  font-size: 0.75rem;
}

input:checked {
  accent-color: #504390;
}

#mapContainer {
  scroll-padding: 10px 0 0 0;
}

[data-i18n="includeVirtualEventsParenthesis"] {
  font-size: 85%;
}

#detectMyLocation.btn:active,
#detectMyLocation.btn:hover {
  background-image: unset !important;
}

input[type="date"] {
  font-size: 0.875rem;
}

#searchOptionsContainer tr td:nth-child(1) {
  padding-right: 11px !important;
}

#searchOptionsContainer tr td:nth-child(2) {
  padding-left: 11px !important;
}
