#recipients td a {
  color: var(--primary);
  text-decoration: underline;
}

#recipients th {
  color: var(--dark);
  font-size: 1.1rem !important;
  text-decoration: underline;
  vertical-align: middle;
}
#recipients td {
  font-size: 1.1rem !important;
}

#recipients td small {
  font-size: 1rem;
}
