.action {
  border-bottom: 1px solid #828282;
  padding-bottom: 1em;
  padding-top: .5em;
  text-align: right;
}

.action_editLink {
  color: #828282;
}

.action_deleteLink {
  color: #FF2D55;
  border-left: 1px solid #E0E0E0;
  margin-left: 10px;
  padding-left: 14px;
}