#dateInvited,
#interactionViews div {
  font-variant-numeric: tabular-nums;
}

.underline {
  text-decoration: underline !important;
}

#followup li {
  margin-bottom: 1rem;
}

#timezoneNotice {
  font-size: 12px;
}

html {
  overflow-x: hidden !important;
  width: auto !important;
}

.table td {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#modal {
  animation: fadeIn 0.75s;
}
